#canvas {
    background: radial-gradient(
      circle furthest-side at center top,
      #392583,
      #251c47
    );
  }
  #cover {
    display: flex;
    flex-flow: column;
  
    align-content: space-between;
    background: radial-gradient(
      circle furthest-side at center top,
      #071b45,
      #151d34
    );
  }
  .controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6vh;
    color: #fafafa;
  }
  #selector {
    position: absolute;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 102;
    background: radial-gradient(
      circle furthest-side at center top,
      #1a75ff,
      #251c47
    );
    color: rgb(255, 255, 255);
    font-size: 22px;
  }
  
  #particles-js {
    width: 100vw;
    height: 100vh;
  }
  #greeting {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100vw;
    height: 100%;
  }
  